.tooltip-container {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.tooltip-container .tooltip-icon {
    width: 16px;
    height: 16px;
    background-color: #bcbcbc;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    font-size: 12px;
    line-height: 16px;
    font-weight: bold;
}

.tooltip-container .tooltip-text {
    visibility: hidden;
    width: 400px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
    top: 20px;
    left: 100%;
    margin-left: 10px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip-container .tooltip-text::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #333 transparent transparent;
}

.tooltip-container:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}